body {
	background-color: white;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: 'Roboto';
}

#titlebar {
	display: block;
	height: 1.5em;
	background-color: #e0e0e0;
	font-size: 2em;
	font-weight: bold;
	padding: 0.5em 1em 0em 1em;
	margin: 0 0 0 0;
}
#titlebar > button  {
	float: right;
	padding: 0 0 0 0;
	margin: -0.5em 0 0 0;
        width: 10em;
        height: 3em;
        color: white;
        background-color: #44a;
}

#fretboard {
	margin-top: 2em;
	width: 100%;
	text-align: center;
	z-index: 1;
}

#fretboard_canvas {
	width: 1500px;
	height: 400px;
}

#frets {
	position: absolute;
	left: 0;
	top: 6em;
	width: 100%;
	height: 0;
	z-index: 2;
}

.marker {
	width: 30px;
	height: 30px;
	background-color: #444;
	color: white;
	opacity: 0;
	position: absolute;
	z-index: -1;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	border: 1px solid white;
	user-select: none;
}
.marker:hover {
	border: 1px solid white;
	opacity: 0.6;
}

.sel {
	opacity: 1.0;
}

.root {
	opacity: 1;
	background-color: red;
	border: 2px solid white;

}

.flex-container-c {
	display: flex;
	flex-direction: column;
}
.flex-container-r {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

#info {
	margin: 20px 0 0 0;
}
.label {
	width: 5em;
}
.item {
	width: 5em;
	margin-right: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	background-color: #d8d8d8;
	text-align: center;
}
.item2 {
	width: 5em;
        margin-right: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        background-color: #d8d8d8;
        text-align: center;
}
.item4 {
        margin-right: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        background-color: #d8d8d8;
        text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}

/*
 * 	Page tabs
 * 							*/
#tabs {
	margin-top: 2em;
}
#tabs > ul {
	display: inline-block;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
#tabs > ul > li {
	display: inline-block;
	text-align: center;
	width: 8em;
	margin: 0 0 0 0;
	padding: 1em 1em 1em 1em;
	font-size: 1.1em;
}
#tabs > ul > li.active {
        background-color: #eeeeee;
	font-weight: bold;
	border-top: 3px solid #aaa;
}
#pages {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
#pages > div > fieldset > legend {
	font-weight: bold;
	font-size: 1.1em;
}
#pages > div.active {
	padding: 2em;
	display: block;
}

#pages button {
	width: 10em;
	height: 3em;
	margin: 0 0 0 0;
	color: white;
	background-color: #44a;
}
#pages button.btn_running {
	background-color: #a44;
}
input {
	height: 3em;
	width:  10em;
}
select {
	height: 3em;
	width:  30em;
}
.group {
	display: block;
	display: none;
	background-color: #eeeeee;
}
.group ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.group li {
	list-style-type: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.group label {
	width: 8em;
	display: inline-block;
}
.group button {
	float: right;
}
